<div class="container m-3">
  <%= link_to "⬅ Back", cocktails_path, class: "btn btn-dark" %>
</div>

<div class="container m-3">
  <h1><%= @cocktail.name %> <%= link_to icon('fa', 'edit'), edit_cocktail_path(@cocktail) %></h1>
</div>

<div class="container">
  <div class="row justify-content-between">
    <div class="col-4">
      <div class="container mb-3">
        <% if @cocktail.photo.attached? %>
        <%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
      </div>

      <div class="container">
        <p><strong>Sugar, spice & everything nice</strong></p>
        <% @doses.each do |dose| %>
        <%# @cocktail.doses.each %>
        <p><%= dose.description %> | <%= dose.ingredient.name %> | <%= link_to icon('fa', 'trash-alt'), dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } %></p>
        <% end %>
      </div>
    </div>

    <div class="col-4">
      <div class="container my-5 mt-0">
        <div class="card">
          <h5 class="card-header">Add a dose</h5>
          <div class="card-body">
            <%= simple_form_for [ @cocktail, @dose ] do |f| %>
              <%= f.error_notification %>
              <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
              
              <div class="form-inputs">
                <%= f.input :description %>
                <%= f.association :ingredient %>
              </div>

              <div class="form-actions">
                <%= f.button :submit, class: "btn btn-primary" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
