<!DOCTYPE html>
<html>
  <head>
    <title>🍸 Mrs. Cocktails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  </head>

  <body>
    <div class="navbar navbar-expand-sm navbar-dark bg-dark navbar-lewagon">
      <%= link_to "🍸 Mrs Cocktails", cocktails_path, class: "navbar-brand" %>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <%# <li class="nav-item active">
            <%= link_to "Manage ingredients", new_cocktail_path, class: "nav-link" %>
          <%# </li> %>
          <li class="nav-item active">
            <%= link_to "Mix a cocktail", new_cocktail_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Back to top", "#", class: "nav-link" %>
          </li>
        </ul>
      </div>
    </div>
    <%= yield %>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <script src="sweetalert2.all.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
  </body>
</html>
